[Unit]
Description=Pine Gestures that will turn torch on when device is shaken
After=default.target

[Service]
ExecStart=/opt/pine_gestures/startup_gestures.sh

[Install]
WantedBy=default.target
